@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation*/
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation-logo {
  width: 140px;
  margin-left: 0;
  margin-right: 30px;
  padding-left: 70px;
  }

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  margin: 0;
  padding: 0;
}

.navigation-link-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 37px;
  margin-top: 14px;
  margin-bottom: 19px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.welcome {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.description {
  margin: 0 auto;
  text-align: center;
}


.description h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 63px;
  margin-bottom: 31px;
}

.description p {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 80px;
 }

/*Advanteges*/
.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}

.advantages-list-nested {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.advantages-title {
  width: 400px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 98px;
  margin-bottom: 30px;
}

.advantages-item {
  min-height:  384px;
  color: #000000;
}

.advantages-number{
  display: block;
  width: 250px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 75px;
  margin-left: 75px;
}

.advantages-description {
  width: 260px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 87px;
  color: inherit;
}

.advantages-content-wrapper {
  width: 400px;
}

.advantages-item-dark {
  display: flex;
  flex-wrap: wrap;
  background-color: #83B3D3;
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}


/*Buttons*/
.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #83B3D3;
  text-align: center;
  text-decoration: none;
  border: none;
}

.button-brown {
  background-color: #756257;
}

/*Search*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 30px;
}

.search p {
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}

.search-button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  width: 575px;
  height: 60px;
  margin-top: 0;
  margin-bottom: 93px;
}

/*Subscription*/
.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 94px;
  margin-bottom: 30px;
}

.subscription-description {
  margin-bottom: 46px;
}

.subscription-picture .subscription-title {
  color: #ffffff;
}

.subscription-form {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 93px;
}

.subscription-button {
  font-size: 20px;
  line-height: 26px;
}

.subscription-picture {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscription-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
}

/*Footer*/
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.footer-social {
  width: 110px;
  margin-left: 72px;
  margin-right: 61px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 18px;
  margin-right: 28px;
}

.footer-social-item-facebook {
  width: 10px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  width: 720px;
  margin-top: 40px;
  margin-right: 54px;
}


.footer-contacts a {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

}

.footer-link {
  display: block;
  width: 115px;
  margin-top: 42px;
  margin-right: 72px;
  margin-bottom: 44px;
  margin-left: 0;
}

/*Filter*/

.inner-filter {
  font-size: 18px;
  line-height: 23px;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 35px;
}

.inner-filter h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 35px;
  margin-left: 71px;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 71px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.filter {
  display: flex;
  margin-left: 71px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;

}

.apply-button {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
}

.button-reset {
  width: 160px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  border: none;
}

/*Catalog*/
.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
}

.select {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.select-result {
  margin-top: 50px;
  margin-right: 192px;
  margin-bottom: 56px;
}

.select-control {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #333333;

}

.options {
  display: flex;
  margin: 0;
  padding: 0;
}

.options-item {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.options-link {
  color: #000000;
  text-decoration: none;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-image {
  object-fit: contain;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  margin-bottom: 16px;
}

.hotel-card-filter {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 16px;
}

.form-button {
  font-size: 16px;
  line-height: 21px;
  height: 37px;
}

.button-green {
   background:  #7DB54F;
}

.button-brown {
  background-color: #756257;
}

.button-action {
  display: flex;
  justify-content: space-between;
}

.hotel-card-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.rating {
  display: block;
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 10 auto;
}

.download {
  width: 1056px;
}

.button-pagination-download-more {
  width: 620px;
  height: 60px;
}

/*Pagination*/
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.choice-pagination {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}


.pagination-link,
.button-pagination-download-more {
  font-size: 20px;
  line-height: 26px;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  margin-top: 30px;
}

.pagination-current {
  background-color: #f2f2f2;
}

.number {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-left: auto;
}

.subscription-inner {
  width: 800px;
  margin: 0 auto;
}
